
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body{
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
}
/****/ 
a{
    border-radius: 3px;
    color: #F6E0B4;
    text-decoration: none;
}
h2{
    margin: 10px 10px;
}
h3{ 
    color:#F6E0B4;
    font-size: 30px;
}


/*clases*/
/*-------------grid-container------------*/


.grid-container{
    display: grid;
    gap: 5px;
    text-align: center;
}
.navbar{
    z-index: 1;
    grid-area: navbar;
    height: 100px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo:hover{
    transform: translate(-3px, 3px);
    transition: 2s;
    color: #AC9D7E;
    
}
.footer h3:hover{
    color: #AC9D7E;
    transform: translate(-3px, 3px);
    transition: 2s;
}
.logo{
    font-weight: bold;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-menu-item:hover{
    transform: translate(-3px, 3px);
    transition: 2s;
}
.nav-menu-item{
    margin-right: 15px;
    text-transform: uppercase;
}
.nav-menu-link{
    margin: 10px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    color: #AC9D7E;
    transition: 0.5s;
}
.header{
    z-index: 0;
    border-radius: 3px;
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.8); 
    
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    color: #F6E0B4;
    grid-area: sidebar;
    background-color: rgba(00, 00, 00, 0.5);
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    color: #F6E0B4;
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.5); 
    
}
.footer h3{
    margin: 15px;
    text-align: center;
}
.img{
    opacity: 0.8;
    width: 100%;
    text-align: center;
}
.imgmain{
    opacity: 0.8;
    margin: 20px 20px;
    width: 70%;
    text-align: center;
}
.section{
    margin: 20px 20px;
}
.iframe{
    width: 100%;
}
.montaña{
    margin: 30px 60px;
    display: block;
    overflow-y: scroll;
    border-radius: 3px;
    height: 600px;
    border: solid #1b1a1a 5px;
}
.ruta{
    margin: 30px 60px;
    display: block;
    overflow-y: scroll;
    border-radius: 3px;
    height: 600px;
    border: solid #1b1a1a 5px;
}
.boxproducto{
    margin: 30px 30px;
    text-align: center; 
}
.imgproducto{
    margin: 20px 20px;
    width: 60%;
}


/*----media cueris------------*/

/*     --375--    */ 

@media (min-width: 375px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "navbar"
        "header"
        "main"
        "sidebar"
        "footer";
    }
    .logo{
        margin-left: 5px;
        font-weight: bold;
    }
    .navbar{
        top: 0;
        left: 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
    }
    .nav-menu-item{
        font-size: 1rem;
        font-weight: lighter;
    }
    .footer{
        height: 60px;
    }
    .footer h3{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
}


/*-------768-------*/
@media (min-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "navbar"
        "header"
        "main"
        "sidebar"
        "footer";
    }
    .navbar{
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    .logo{
        margin-top: 18px;
        font-weight: bold; 
    }
    .nav-menu{
        margin-top: 40px;
        flex-direction: row;
    }
    .nav-menu-item{
        font-weight: bold;
    }
    .footer{
        height: 100px;
    }
    .footer h3{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
}


/*--------1024------*/
@media (min-width: 1024px) {
    .grid-container{
        grid-template:
        "navbar navbar"  100px
        "header header"  auto
        "main   sidebar"    auto
        "footer footer"  100px /
        auto    450px;
    }
    .navbar{
        top: 0;
        left: 0;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    .logo{
        font-weight: bold;
    }
    .nav-menu{
        flex-direction: row;
    }
    .nav-menu-item{
        font-weight: bold;
    }
    .footer{
        height: 100px;
    }
    .footer h3{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
 
}
